*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
div{
    width: 20%;
    margin: 0 auto;
    text-align:left ;
    word-break: break-all;

}
p{
    color:red;
}