*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
div{
    width: 20%;
    margin: 0 auto;
    text-align:left ;
    word-break: break-all;

}
p{
    color:red;
<<<<<<< HEAD
}
=======
>>>>>>> b52d5b9d0ac94c8949bedf4621242263fedbd484
